@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
body {
	margin: 0;
	width: 100%;
	padding: 0;
}
html {
	font-family: Arial;
	background-color: #3B3B58 !important; 
	z-index: 99999;
	background-image: url(http://www.transparenttextures.com/patterns/axiom-pattern.png) !important;
	overflow: hidden;
}
/* LOGO DALIS STARTS */

.logo {
	padding-bottom: 3em;
	z-index: 50;
	width: 300px;
	height: auto;
	position: absolute;
	top: 10%;
}
.logotipas {
	display: flex;
	justify-content: center;
	position: absolute;
	align-items: center;
	top: 20%;
}
img {
	/* RELEVANT IR KITIEMS IMG */
	width: auto;
	z-index: 999;
	padding: 2em 20px;
}
/* LOGO DALIS ENDS */

/* MELYNA DALIS SONE SU NAVBARU STARTS */

.sidebar {
	position: fixed;
	min-width: 30%;
	width: 30%;
	height: 100vh;
	min-height: 100%;
	background-image: linear-gradient(to right, #00000070, #0b050873, #110b1157);
	font-size: 0.65em;
	opacity: 0.75;
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.sidebar:hover {
	background-image: linear-gradient(to right, #00000096, #0b05089a, #110b1180);
}
.nav {
	position: relative;
	margin: 0 15%;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateY(-5%);
	font-weight: bold;
	animation: slide-up 1.1s ease;
}
.nav ul {
	list-style-type: none;
	/* KAD NEBUTU JUODU TASKELIU */
}
/* PAGR. NAVBAR SETTINGSAI */

.nav-item {
	color: rgba(#FFF, 0.35);
	display: block;
	border-style: solid;
	border-radius: 30px;
	width: 380px;
	text-transform: uppercase;
	margin-top: 30px;
	text-align: center;
	list-style-type: none;
	flex-direction: column;
	padding: 1rem 2rem 1.15rem;
	cursor: pointer;
	animation: slide-up 1.1s ease;
	margin-left: 41px;
}
/* kad visada baltas tekstas butu navbar */

.nav-item {
	color: #fff;
	text-decoration: none;
}
/* uzvedus pelyte orange spalva navbar */

.nav-item:hover {
	color: #f98673;
}
/* MELYNA DALIS SONE SU NAVBARU ENDS */

/* icons virs orange teksto */

.icon {
	width: 85px;
	height: auto;
	margin-left: 35%;
}
/* tekstas apacioje starts */

.rows {
	display: flex;
	flex-direction: row;
	width: 80%;
	max-width: 80%;
	column-gap: 8px;
	margin-left: 5%;
	margin-top: auto;
}
.feature {
	text-align: center;
	line-height: 24px;
	min-width: 37%;
}
.feature h3 {
	color: #f98673;
	margin-bottom: 10px;
	margin-top: -10px;
}
.feature p {
	color: #fff;
	margin-bottom: 10em;
	font-size: 16px;
}
/* tekstas apacioje ends */

.container {    /* VISAS KONTAINERIS DESINEJE */
	position: relative;
	float: right;
	max-width: 70%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;

}
/* SEARCH LAUKAS */
.search_screen  {
	position: fixed;
	width: 100%;
	height: 0;
	background-color: #3B3B58;
	background-image: url(http://www.transparenttextures.com/patterns/axiom-pattern.png) !important;
	display: flex;
	align-items: center;
	justify-content: center;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	overflow: hidden;
	transition: 0.3s linear 0.3s;
	z-index: 9999;
}
.start_screen  {
	position: fixed;
	width: 100%;
	height: 0;
	background-color: #3B3B58;
	background-image: url(http://www.transparenttextures.com/patterns/axiom-pattern.png) !important;
	display: flex;
	align-items: center;
	justify-content: center;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	overflow: hidden;
	transition: 0.3s linear 0.3s;
	z-index: 9999;
}
/* SEARCH LAUKAS ENDS */

.search_box {
	display: flex;
	border-style: solid;
	text-align: center;
	width: 100%;
	max-width: 800px;
	background-color: transparent;
	border: none;
	outline: none;
	color: #f98673;
	font-size: 50px;
	border-bottom: 1px solid white;
	text-align: center;
	padding: 10px;
	font-size: 32px;
}
.search_box_container {
	width: 800px;
	display: flex;
	flex-direction: row;
}
.search_box_name {
	
	border-style: solid;
	text-align: center;
	width: 100%;
	max-width: 800px;
	background-color: transparent;
	position: relative;
	margin-right: 2em;
	border: none;
	outline: none;
	color: #f98673;
	font-size: 50px;
	border-bottom: 1px solid white;
	text-align: center;
	padding: 10px;
	font-size: 32px;
}
.search_box_id {
	
	border-style: solid;
	text-align: center;
	width: 100%;
	max-width: 800px;
	background-color: transparent;
	border: none;
	outline: none;
	color: #f98673;
	font-size: 50px;
	border-bottom: 1px solid white;
	text-align: center;
	padding: 10px;
	font-size: 32px;
}


.search_box::placeholder, .search_box_name::placeholder, .search_box_id::placeholder {
	color: #fff;
}
input:focus::placeholder {
	color: transparent;
}
.search_screen.active {
	height: 100%;
	transition-delay: 0s;
}
.start_screen.active {
	height: 100%;
	transition-delay: 0s;
}
.search_screen.active .search_box, .search_screen.active .close_icon {
	opacity: 1;
	transition: 0.2 linear 0.4s;
}
.start_screen.active .search_box, .start_screen.active .close_icon {
	opacity: 1;
	transition: 0.2 linear 0.4s;
}
.resultContainer {
	/* TEKSTAS PO SEARCH LAUKU */
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 60%;
}
.find_session {
	/* TEKSTAS PO SEARCH LAUKU */
	color: white !important;
	letter-spacing: 2px;
	font-size: 28px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.session_tekstas {
	/* TEKSTAS PO SEARCH LAUKU */
	color: white;
	font-size: 18px;
	margin-top: -10px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.content-wrap p {
	margin-top: -25px;
}
.content-wrap img {
	filter: invert(1);
	height: auto;
	height: 40px;
	position: absolute;
	margin-top: 0px;
	padding: 0;
}
.discord:hover {
	/* DISCORD SVG ICON */
	filter: invert(73%) sepia(21%) saturate(3080%) hue-rotate(334deg) brightness(98%) contrast(99%);
}
.go_back {
	/* GRIZT IS SONO */
	width: 20%;
	display: flex;
	height: 100%;
	position: absolute;
	left: 0;
	cursor: pointer;
}

@media screen and (max-width: 1350px) {
	.go_back {
		width: 18%;
	}
	.go_back_right, .go_back_right_create {
		width: 18% !important;
	}
}


.go_back_right, .go_back_right_create {
	
	width: 20%;
	display: inline-block;
	height: 100%;
	position: absolute;
	right: 0;
	cursor: pointer;
	background: transparent;
	outline: none;
	border: none;
	top: 0;
	z-index: 99;
}
.back_arrow_right {
	
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	left: 10%;
	font-size: 180px;
	opacity: 0;
	color: #f98673;
}

.go_back_right.active, .go_back_right_create.active {
	background-color: rgba(255, 255, 255, 0.05);
	animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 2s;
}






.go_back_right.active .back_arrow_right, .go_back_right_create.active .back_arrow_right {
	opacity: 0.85;
	animation: grow ease 1.2s;
}


@keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }

  @keyframes grow {
    from {
        transform: scale(0.65);
    }
    to {
        transform: scale(1);
    }
}
 

.go_back:hover, .go_back_right:hover, .go_back_right_create:hover {
	background-color: rgba(255, 255, 255, 0.05);
	animation: status 4s ease forwards;
}
.back_arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	left: 25%;
	font-size: 180px;
	opacity: 0;
	color: #f98673;
}
.go_back:hover .back_arrow, .go_back_right:hover .back_arrow_right, .go_back_right_create:hover .back_arrow_right {
	opacity: 0.85;
	
}
/* JOIN LOBBY ENDS */

/* EMAIL US SEKCIJA  */

.mail_screen {
	position: fixed;
	float: right;
	width: 70%;
	height: 0;
	background-color: #3B3B58 !important;
	background-image: url(http://www.transparenttextures.com/patterns/axiom-pattern.png) !important;
	display: flex;
	align-items: center;
	justify-content: center;
	left: 30%;
	top: 50%;
	transform: translateY(-50%);
	overflow: hidden;
	transition: 0.5s;
	z-index: 9999;
}

.mail_icon {
	cursor: pointer;
}

.mail_screen.active {
	height: 100vh;
	transition-delay: 0s;
}
.mail_screen.active .mailContainer, .mail_screen.active .close_icon2 {
	opacity: 1;
}
.mailContainer {
	width: 90%;
	max-width: 500px;
	margin: 0 auto;
	padding: 10px 20px;
	box-shadow: 10px 10px 20px 10px #00000010;
	background-color: #f98673 !important;
	border-radius: 8px;
	margin-bottom: 20px;
}
.form-group {
	/* EMAIL LENTELE  */
	width: 100%;
	margin-top: 20px;
	font-size: 20px;
}
.form-group input, .form-group textarea {
	width: 100%;
	background-image: url(http://www.transparenttextures.com/patterns/inspiration-geometry.png) !important;
	opacity: 0.8;
	padding: 5px;
	font-size: 18px;
	border: 1px solid rgba(128, 128, 128, 0.199);
	margin-top: 5px;
}
textarea {
	resize: vertical;
}
.mail_button[type="submit"] {
	width: 100%;
	border: none;
	outline: none;
	padding: 10px;
	font-size: 24px;
	border-radius: 8px;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
	color: #f98673 !important;
	opacity: 0.8;
	font-weight: bold;
	margin-top: 10px;
	letter-spacing: 1px;
	background-image: url(http://www.transparenttextures.com/patterns/inspiration-geometry.png) !important;
}
.mail_button:hover[type="submit"] {
	opacity: 0.9;
}
.form-group input:hover, .form-group textarea:hover {
	opacity: 0.9;
}
textarea::placeholder {
	opacity: 0.7;
}
textarea:focus::placeholder {
	color: transparent;
}
#status {
	text-align: center;
	margin-bottom: 0px;
	width: 100%;
	max-width: 500px;
	padding: 0px;
	margin-top: 10px;
}
#status.success {
	background-color: aquamarine;
	color: white;
	animation: status 4s ease forwards;
}
#status.error {
	background-color: rgb(228, 57, 57);
	color: white;
	animation: status 4s ease forwards;
}
@keyframes status {
	0% {
		opacity: 1;
		pointer-events: all;
	}
	90% {
		opacity: 1;
		pointer-events: all;
	}
	100% {
		opacity: 0;
		pointer-events: none;
	}
}
/* EMAIL US SEKCIJA  */

.pagr_foto {
	margin-top: 1em;
	display: flex;
	justify-content: center;
}
.slider {
	max-width: 112vh;
	width: auto;
	height: 62vh;
	border-radius: 10px;
	overflow: hidden;
	
}
.slides {
	width: 500%;
	height: 62vh;
	display: flex;
}
.slides input {
	display: none;
}
.slide {
	width: 20%;
	transition: 2s;
}
.slide img {
	width: 100%;
	height: 62vh;
	
}
/*css for manual slide navigation*/

#radio1:checked~.first {
	margin-left: 0;
}
#radio2:checked~.first {
	margin-left: -20%;
}
#radio3:checked~.first {
	margin-left: -40%;
}
#radio4:checked~.first {
	margin-left: -60%;
}
/*css for automatic navigation*/

.navigation-auto div:not(:last-child) {
	margin-right: 40px;
}
#radio1:checked~.navigation-auto .auto-btn1 {
	background: #f98673;
}
#radio2:checked~.navigation-auto .auto-btn2 {
	background: #f98673;
}
#radio3:checked~.navigation-auto .auto-btn3 {
	background: #f98673;
}
#radio4:checked~.navigation-auto .auto-btn4 {
	background: #f98673;
}



.settings_screen {
	position: fixed;
	float: right;
	width: 70%;
	height: 0%;
	background-color: #3B3B58;
	background-image: url(http://www.transparenttextures.com/patterns/axiom-pattern.png) !important;
	display: flex;
	align-items: center;
	justify-content: center;
	left: 30%;
	top: 50%;
	transform: translateY(-50%);
	overflow: hidden;
	transition: 0.5s;
	z-index: 9999;
}
.settings_screen.active {
	height: 100vh;
	transition-delay: 0s;
}
.settings_screen.active .close_icon2 {
	opacity: 1;
}



.submit {
	display: none;
}

.didesnis_input {
	
	width: 800px;
}


